.card {
    padding: 30px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;

}
.card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}
.card-title {
    font-size: 20px;
    font-weight: bold;
}
.card-email {
    font-size: 14px;
    font-style: italic;
}
.card-text {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 .card-text div {
    margin-top: 10px;
}
.card-text .fa {
    font-size: 26px;
}
.avatar {
    width: 180px;
    align-items: center;
    margin: auto;
}
.avatar img {
    border: solid 6px transparent;
    border-radius: 50%;
}
.card:hover .avatar img {
    border-color: rgb(99, 204, 131);
}

.container {
    display: flex;
    align-items: start;
    justify-content: center;
}

.profile-card {
    align-items: center;
}

.edit-box{
    display: grid;
    align-items: start;
}



#submit-details {
    display: flex !important;

}
#edit-profile {
    text-transform: none !important;
}

#profile-reviews{
    margin-top: 110px;

}

#upload-image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    fontFamily: '"Roboto", sans-serif';
}